*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{

    background-color: rgb(236, 238, 234);
}

nav
{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav img{

    height: 60px;
    padding: 5px;
}

#sidebar{
    
    
    width: 45%;
    display: flex;
    column-gap: 10px;
    position: relative;
}
#sidebar input{

    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid grey;
}
#searcIcn{

    height: 20px;
    position: absolute;
    right: 90px;
}

#sidebar button{

    border: 1px solid grey;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #0b985d;
    color: white;
}

nav ul{

    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

main{

    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{

    
    height: 95%;
    width: 98%;
    box-shadow: 0 0 2px 2px lightgray;
    background-color: ghostwhite;
    border-radius: 22px;
    display: flex;

}
.content{

    height: 100%;
    width: 50%;
}
.banner{

    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#coffee{
    position: absolute;
    height: 300px;
    transition: .2s;
    
}

#coffee:hover{
    
    filter: drop-shadow(0px 0px 5px grey);
    transform: scale(1.1) rotate(10deg);
}

.content{

  
    height: 100%;
    width: 50%;
}
#contentData{


    position: relative;
    top: 80px;
    left: 40px;
    transition: all 0.3s ease;
    transform-origin: center;


}

#contentData h2{

    font-size: 35px;
    color: rgb(41, 40, 40);
}


#contentData h1{

    font-size: 50px;
    color: rgb(41, 40, 40);;
}


#contentData h1 span{

    font-size: 50px;
    color: #0b985d;
}

.line{
    height: 2px;
    width: 90%;
    background-color:#0b985d;
    margin-bottom: 10px;
    margin-top: 5px;
}
#contentData p{

    margin-top: 20px;
}


#content-button-1
{

    margin-top: 15px;
    background-color: #0b985d;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: grey;
    margin-right: 10px;
}

#content-button-1:hover
{
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(11, 152, 93, 0.4);
    cursor: pointer;
}


#content-button-2
{

    margin-top: 15px;
    background-color: #0b985d;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: grey;
}

#content-button-2:hover
{
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(11, 152, 93, 0.4);
    cursor: pointer;
}