*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{

    background-color: rgb(215, 219, 212);
}

nav
{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav img{

    height: 60px;
    padding: 5px;
}

#sidebar{
    
    
    width: 45%;
    display: flex;
    column-gap: 10px;
    position: relative;
}
#sidebar input{

    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid grey;
}
#searcIcn{

    height: 20px;
    position: absolute;
    right: 90px;
}

#sidebar button{

    border: 1px solid grey;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #0b985d;
    color: white;
}

nav ul{

    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

main{

    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{

     border: 2px solid red;
    height: 95%;
    width: 98%;
    box-shadow: 0 0 2px 2px lightgray;
    background-color: ghostwhite;
    border-radius: 22px;
    display: flex;

}
.content{

    height: 100%;
    width: 50%;
}
.banner{

    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#coffee{
    position: absolute;
    height: 300px;
    transition: .2s;
}

#coffee:hover{
    
    filter: drop-shadow(0px 0px 5px grey);
    transform: scale(1.1) rotate(10deg);
}

.content{

  
    height: 100%;
    width: 50%;
}
#contentData{


    position: relative;
    left: 100px;
    top: 80px;


}

#contentData h2{

    font-size: 45px;
}


#contentData h1{

    font-size: 65px;
}