*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{

    background-color:#F5F4FD;
}

.icon{

    background-color: #604CBC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: white;
}

.add-task{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;

}

#input{

    width:500px;
    padding: 10px;
    border-radius: 15px;
}


button{

    border-radius: 15px;
    padding: 10px;
    background-color: #604CBC;
    color: white;
    width: 120px;
    margin-left: 10px;
}
.task-section{
    /* border: 2px solid red; */

    
    
}

.task-heading{
    display: flex;
    justify-content: space-between;
   
}